* {
    color: #FCFAFA;
}

body {
    background-color: #01041f;;
}

#playspace {
    background-color: #060d4d;
    margin: auto;
    text-align: center;
}

#scores {
    display: flex;
    justify-content: space-evenly;
}

button {
    color: black;
    border: hidden;
    margin-bottom: 4px;
    border-radius: 2px;
}

#resultarea {
    height: 40px;
    background-color: #060d4d;
}
